<% layout("layouts/boilerplate") %>

<div class="row ">
  <div class="col-md-8 offset-md-2">
    <form method="post" action="/listings/<%= list._id %>?_method=PUT">
      <div class="mb-3 ">
        <label for="title" class="form-label">Title</label>
        <input
          value="<%= list.title%>"
          name="title"
          type="text"
          id="title"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="description"
          id="description"
          class="form-control"
          type="text"
        >
<%= list.title%></textarea
        >
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image URL</label>
        <input type="text" value="<%= list.image.url %>" name="image[url]" id="image" class="form-control">
      </div>

      <div class="row">
        <div class="mb-3 col-sm-4">
          <label for="price" class="form-label">Price</label>
          <input
            value="<%= list.price%>"
            name="price"
            type="text"
            id="price"
            class="form-control"
          />
        </div>

        <div class="mb-3 col-sm-8">
          <label for="country" class="form-label">Country</label>
          <input
            value="<%= list.country%>"
            name="country"
            type="text"
            id="country"
            class="form-control"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          value="<%= list.location%>"
          name="location"
          type="text"
          id="location"
          class="form-control"
        />
      </div>

      <div class="row">
        <div class="col-6 offset-3">
          <button class="btn btn-danger w-100">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
